name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: shell check
        run: |
          sudo apt-get update -y
          sudo apt-get install -y shellcheck
          shellcheck main.sh
